header{
  background-color:hsl(240,100%,60%) ;
  color: #fff;
  font-size: smll;
}
p{
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
ul{
  list-style:none;
}
nav{
    background-color:rgba(203,251,148,0.5);
}
a{
  text-decoration: none;
}