#salwa{
        background-color:green ;
        font-family: 'Poppins', sans-serif;
      }
ul,li{

  background-color:green;
  

}
p{
  background: yellowgreen;
  color:rgb(200,0,06);
}
h3{
  font-weight: bolder;
  font-style:italic;
  background-color:green;
  color:hsl(210%,20%,3%,0.2%);
  
}
dd{
  background-color:golden;
  color:bluelight;
}